.section {
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 4rem;
    background-color: #357A98;
    justify-content: center;
    box-sizing: border-box;
    min-height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
}

.header {
    color: white;
    font-weight: lighter;
}

.text {
    color: white;
    font-weight: normal;
}

.button {
    height: 50px;
    margin: 5px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border: solid #f9f9f9 2px;
    font-size: 16px;
    color: rgb(245, 245, 245);
    transition: 500ms;
    border-radius: 10px;
    background: transparent;
}

.button:hover {
    box-shadow: 1px 1px 13px #cfcfcf, -1px -1px 13px #bbbbbb;
    color: #d6d6d6;
}


@media (max-width: 700px) {
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content {
        gap: 2rem;
    }

    .button {
        height: 40px;
        font-size: 14px;
    }
}
