@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


.section {
    padding: 50px;
}

.grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card p {
    display: -webkit-box;   
    -webkit-line-clamp: 8;     
    -webkit-box-orient: vertical;
    overflow: hidden;         
    text-overflow: ellipsis;
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
    margin-top: 0;
}

.card h1 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', serif;
    letter-spacing: 2px;
}

.buttonLink button {
    background-color: #357A98;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    
}


@media screen and (max-width: 850px) {
    .section {
        padding: 20px;
      }
    
      .grid {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
      }
    
     
    }


@media screen and (max-width: 580px) {
    .section {
        padding: 10px;
      }
    
      .grid {
        grid-template-columns: repeat(1, 1fr);
      }
    
     
    }